
        body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }
h1 ,h2{
	 text-align: center;
	 
}
.myp{
	border:1px solid black;
	background:white;
	border-radius:10px
}
ul{
	 list-style-type: none
}
.vid{
	background:white;
	border:1px solid black;
	margin:75px;
	padding:10px;
	border-radius:10px;
}
.vid1{
	width:95%;
	margin:20px;
	padding
}
.aud{
	width:95%;
}