
        body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }
h1 ,h2{
	 text-align: center;
	 
}
.myp{
	border:1px solid black;
	background:white;
	border-radius:10px
}
ul{
	 list-style-type: none;

}
a{
		text-decoration:none;
	    
}
.vid{
	background-color: rgb(255, 255, 255);
	border:1px solid black;
	padding:10px;
	border-radius:10px;
}
.vid1,.aud{
	width:95%;
	margin:10px;
	padding:10px
}
